/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    background-color: #E4E2DD;
}

header {
    text-align: center;
    background-color: lightskyblue;
    border: 5px groove;
    margin: 10px;
    text-shadow: 2px 2px grey;
    box-shadow: 4px 4px 10px #444;
}

nav {
    text-align: center;
    font-size: 1.25rem;
    background-color: #fff;
}

footer {
    border: 2px solid black;
    text-align: center;
    box-shadow: 3px -3px 5px 5px lightskyblue;
    width: 100vw;
}

img {
    width: auto;
    margin: auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 5px solid darkgray;
}

li {
    border: 5px outset darkgrey;
    padding: 5px;
    margin: 5px;
}

.teamDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px outset darkgrey;
    align-content: space-around;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.mission-words-display {
    display: flex;
    width: 30vw;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: turquoise;
    border: 5px dashed darkgrey;
}

.small-paragraph {
    padding: 10px;
    margin: 10px;
    width: 60vw;
    text-align: center;
    background-color: lightskyblue;
    border: 5px double darkgrey;
}

.medium-paragraph {
    padding: 10px;
    margin: 10px;
    width: 65vw;
    text-align: center;
    background-color: lightskyblue;
    border: 5px double darkgrey;
}

.Lottery-And-Logo {
    position: relative;
    text-align: center;
}

.Website-Logo img {
    display: inline-block;
}

.teamDisplay img {
    width: 250px;
}

.centered-paragraph {
    text-align: center;
}

.flex-div {
    display: flex;
    flex-direction: column;
    border: 5px outset darkgrey;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
}

.flex-div img {
    border: 4px solid darkgray;
}

.audio-player {
    width: 20vw;
    background-color: lightskyblue;
    border: 5px double darkgrey;
    border-radius: 5px;
}

.blaine {
    width: 100vw;
    height: 100vh;
    border: 5px double darkgrey;
    padding: 10px;
}

.audio-player p {
    width: 20vw;
}

#gameCanvas {
    border: 2px solid #000;
    margin: 20px;
}

#lotteryFrame {
    background-color: turquoise;
    border: 5px dashed darkgrey;
    position: absolute;
    top: 20px;
    left: 20px;
}

#scoreCounter {
    position: absolute;
    top: 30vh;
    left: 7vh;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: turquoise;
    border: 5px dashed darkgrey;
}

#fullscreenButton {
    position: absolute;
    top: 40vh;
    left: 7vh;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: turquoise;
    border: 5px dashed darkgrey;
}

/* Media query for tablets */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .teamDisplay {
        flex-direction: column;
    }

    .mission-words-display {
        width: 50vw;
    }

    .small-paragraph {
        width: 80vw;
        font-size: 0.9em;
    }

    .medium-paragraph {
        width: 85vw;
        font-size: 0.9em;
    }

    .flex-div {
        width: 85vw;
    }

    .audio-player, .audio-player p {
        width: 40vw;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    header {
        margin: 5px;
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .teamDisplay {
        flex-direction: column;
    }

    .mission-words-display {
        width: 80v
